@import "../../app.scss";

.cta {
    width: 100%;
    height: 100%;
    background-image: url("https://picsum.photos//1920/1200");
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;

    .inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 2;
        background: linear-gradient(135deg, #350028, #35002850,  #350028);
        width: 100%;
        height: 100%;
        padding: 20px;
        
        h2 {
            text-align: center;
            font-size: 32px;
            font-weight: 600;
        }

        button {
            font-weight: 300;
            color: white;
            border: 1px solid white;
            border-radius: 5px;
            padding: 15px 30px;
        }
    }
}
